///////////////////////////////////////////////////////////////
// basic color scheme
//////////////////////////////////////////////////////////////

//root colors
$root: #ffb300;
$rootHover: #ffe38e;

//chord colors
$chords: #1900ff;
$chordsHover: #8a7dff;
$chordsLight: #dedbff;

$cFifth: #9900ff;
$cFifthHover: #c368ff;

//scale colors
$scales:#ff0000 ;
$scalesHover:#ff8585 ;
$scalesLight:#ffdede ;

$sFifth: #ff7b00;
$sFifthHover: #ffa470;


//blank fretboard
$fretboard: #818181;
$fretboardHover: #9b9b9b;

//bg and transparent text
$bg:white;

$lightText: lightGray;
$darkText: black;
