
//selected notes
$root: #ffb300;
$rootHover: #ffe38e;

$chords: rgb(25, 0, 255);
$chordsHover: rgb(138, 125, 255);
$chordsLight: rgb(222, 219, 255);

$scales:rgb(255, 0, 0) ;
$scalesHover:rgb(255, 133, 133) ;
$scalesLight:rgb(255, 222, 222) ;

//blank fretboard
$fretboard: rgb(129, 129, 129);
$fretboardHover: rgb(155, 155, 155);
