
//selected notes
$root: #ffb300;
$rootHover: #ffe38e;

$chords: #1900ff;
$chordsHover: #8a7dff;
$chordsLight: #dedbff;

$scales:#ff0000 ;
$scalesHover:#ff8585 ;
$scalesLight:#ffdede ;

//blank fretboard
$fretboard: #818181;
$fretboardHover: #9b9b9b;
