
//selected notes
$root: #ffb300;
$rootHover: #ffcd37;
$chords: rgb(25, 0, 255);
$chordsHover: rgb(110, 94, 255);
$scales:rgb(255, 0, 0) ;
$scalesHover:rgb(255, 82, 82) ;

//blank fretboard
$fretboard: rgb(129, 129, 129);
$fretboardHover: rgb(155, 155, 155);
