@import 'ColorScheme';

.groupContainer{
    width: 99%;
    height:400px;
    border-radius:5px;
    background-color: white;
    // filter: drop-shadow(-1px 1px 2px $scales) !important;

    // filter: drop-shadow(30px 10px 4px #4444dd);

}
.scaleContainer{
    border:2px solid $scalesHover;
    // background-color:$scalesLight;
    // scrollbar-color: $scales;
}
.chordContainer{
    border:2px solid $chordsHover;
}

.hideContainer{
    display:none;
}

.groupSpacing{
    padding:4px !important;

}
.selectedScaleRow{
    background-color:$scales !important;
}
.scaleRow:hover{
    cursor:pointer;
    color:white;
    background-color:$scalesHover;
}
.scaleRow:hover .groupNoteList{
    cursor:pointer;
    // background-color:lightgray;
    color: white;
}
.groupRow{
    background-color:white;

}
.scaleRow{
    text-align: left;
    color:$scales;
}
.chordRow{
    text-align: left;
    color:$chords;
}
.selectedChordRow{
    background-color:$chords !important;
}
.chordRow:hover{
    cursor:pointer;
    color:white;
    background-color:$chordsHover;
}
.chordRow:hover .groupNoteList{
    cursor:pointer;
    // background-color:lightgray;
    color: white;
}

.selectedGroupName{
    color:white;
    font-weight:bold;
    text-decoration:underline;
}
.scaleName{
    color:gray;
}

.groupNoteList{
    font-size: smaller;
    color:lightgray;
    /* font-weight:bold; */
}
.selectedGroupNoteList{
    font-size: smaller;
    color:rgb(255, 255, 255);
    /* font-weight:bold; */
}
.groupNoteListHover{
    font-size: smaller;
    color:rgb(255, 255, 255) !important;
    font-weight:bold;
}

