@import 'ColorScheme';

.scaleContainer{
    width: 90%;
    height:400px;
}

.scaleRow{
    text-align: left;
    background-color:white;
}
.groupSpacing{
    padding:4px !important;

}
.selectedScaleRow{
    background-color:$root !important;
}
.scaleRow:hover{
    cursor:pointer;
    background-color:lightgray;
}

.scaleName{
    color:gray;
}

.groupNoteList{
    font-size: smaller;
    color:lightgray;
    /* font-weight:bold; */
}
.selectedGroupNoteList{
    font-size: smaller;
    color:rgb(255, 255, 255);
    /* font-weight:bold; */
}
.groupNoteList:hover{
    font-size: smaller;
    color:gray;
    font-weight:bold;
}
