@import 'ColorScheme';

.modeBtn{
    display:block;
    float:left;
}

.clearBtn{
    background-color: transparent !important;
    color:$root !important;
    border-color: $root !important;
}
.clearBtn:hover{
    // display:block;
    text-decoration-line: line-through !important;
    background-color: $root !important;
    color: white !important;
}

.xClear{
    color:$root;
}

.clearBtn:hover .xClear{
    color:white;
}
.activeMode{
    background-color: $fretboard !important;
    color:white;
}
.activeModeScales{
    background-color: $scales !important;
    border-color: $scales !important;
    color:white;
    pointer-events: none;
}
.activeModeChords{
    background-color: $chords !important;
    border-color: $chords !important;
    color:white;
    pointer-events: none;
}


.inactiveMode{
    // color:darkgray !important;
}
.inactiveModeChords:hover{
    background-color: $chordsHover !important;
    border-color: $chordsHover !important;
}
.inactiveModeScales:hover{
    background-color: $scalesHover !important;
    border-color: $scalesHover !important;
}


.disabled{
    pointer-events:none;
    border:none !important;
    background-color: transparent;
    color: black;
}
