@import 'ColorScheme';

.modeBtn{
    display:block;
    float:left;
}

.clearBtn{
    background-color: $root !important;
    color:white !important;
    border-color: $root !important;
}
.clearBtn:hover{
    // display:block;
    background-color: $rootHover !important;
    color: white;
}

.xClear{
    color:$root;
}

.clearBtn:hover .xClear{
    color:white;
}
.activeMode{
    background-color: $fretboard !important;
    color:white;
}
.activeModeScales{
    background-color: $scales !important;
    border-color: $scales !important;
    color:white;
}
.activeModeChords{
    background-color: $chords !important;
    border-color: $chords !important;

    color:white;
}


.inactiveMode{
    // color:darkgray !important;
}
.inactiveMode:hover{
    background-color: $fretboardHover !important;
    border-color: $fretboardHover !important;
}


.disabled{
    pointer-events:none;
    border:none !important;
    background-color: transparent;
    color: black;
}
