@import './colorSchemes/index';

.noteButton{
    display:'block';
    height: 50px;
    width:50px !important;
    border:1px white solid !important;
  }

.noteButton:hover{
    background-color: white !important;
    // color:black !important;
}

.isRoot{
    color: white !important;
    font-weight:900;
    background-color: $root !important;
}

.isRoot:hover{
    background-color: $rootHover !important;
    color: black;
}

.isInRangeScales{
    padding:2px;
    background-color: $scales !important;
    color:white !important;
}
.isInRangeScales:hover{
    background-color: $scalesHover !important;
    color:white !important;
}

.isInRangeChords{
    padding:2px;
    background-color: $chords !important;
    color:white !important;
}

.isInRangeChords:hover{
    background-color: $chordsHover !important;
    color:white !important;
}

.isNotInRange{
    background-color: $fretboard !important;
    color:rgb(255, 255, 255) !important;
}
.isNotInRange:Hover{
    background-color: $fretboardHover !important;
    color:rgb(255, 255, 255) !important;
}

.btnOctave{
    font-size: x-small;
    color:white;
}

.rootInterval{
    font-size: x-small;
    font-weight: bold;
    color: white;
}
.btnNote{
    /* position: relative;
    left: -5px; */
    font-weight:bold;
}

.topright {
    position: absolute;
    top: 0px;
    right: 5px;
    text-align: right;
}
