.note{
    height:25px;
    width:50px;
    display:block;
    border:2px dotted blue;
    margin:10px;
    padding:5px;
    background-color:rgb(255, 201, 201);
}
.fretboard{
    border:2px dotted blue;
    width:30%;
    display:block;
    float:left;
}
.groupNotes{
    display:block;
    float:left;
    height:300px;
    width:40%;
    border:2px dotted black;
}

.note:hover{
    background-color:rgb(255, 110, 110)
}
.note:active{
    background-color:rgb(255, 31, 31)
}
