.App {
  text-align: center;
  background-color:lightcyan;
}

.outline {
  height: 30px;
  border: 1px solid black;
}

.noteButton{
  display:'block';
}

.isRoot{
  color: gray;
  background-color:#ffff80;
}
.isNotRoot{
  color:'white';
  background-color:'gray'
}

.isInRange{
  padding:2px;
  background-color:rgb(110, 0, 0);
}
.isNotInRange{
  color:'gray';
}
.scaleContainer{
  width: 90%;
  height:400px;
}

.scaleRow{
  text-align: left;
  background-color:white;
}
.scaleRow:hover{
  cursor:pointer;
  background-color:lightgray;
}

.scaleName{
  color:gray;
}

.btnOctave{

  font-size: x-small;
  color:lightgray;
}
.btnNote{
  /* position: relative;
  left: -5px; */
  font-weight:bold;

}
.noteButton{}

.inRange{
  color:white;
}
.notInRange{
  color:darkgray;
}

.topright {
  position: absolute;
  top: 5px;
  right: 5px;
  text-align: right;
}

.noteBar{
  /* margin-right: 1%; */
  /* width:100%; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.groupNoteList{
  font-size: smaller;
  color:lightgray;
  /* font-weight:bold; */
}
.groupNoteList:hover{
  font-size: smaller;
  color:gray;
  font-weight:bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
