.rootNote{
    background-color: rgb(0, 0, 255);
    color: white;
}
.secondNote{
    background-color: yellow;
    color: black;
}
.thirdNote{
    background-color: rgb(0, 238, 255);
    color: black;
}
.fourthNote{
    background-color: yellow;
    color:black;
}
.tritoneNote{
    background-color: rgb(0, 190, 28);
    color:white;
}
.fifthNote{
    background-color:  rgba(0, 0, 255, 0.493);
    color: white;
}
.sixthNote{
    background-color: rgba(255, 255, 0, 0.359);
    color: black;
}

.seventhNote{
    background-color: yellow;
    color: black;
}


